*{
    margin: 0;
    padding:0;
}
.head{
    padding: 15px 0px;
    background-color: rgb(243, 245, 111)
}
body{
    background-color: #061142; 
    color: #FFFFFF;
    margin: 0;
    font: normal 16px arial, helvetica, serif;
}
h1, h2{
text-align: center;
text-transform: uppercase;
color:#040d36;
}
a{
        text-decoration: none;
        color:#000080;
    }
a:hover{
        color: red;
    }
a:active{
        color: green;
    }
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;

}
.box-1{
    background-color: #2aad91;
    color: #040d36;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0px 30px;
    font: helvetica;
    flex:30%;
    order:0;
}
.box-1 h3{
    color: #FFFFFF;
    padding:10px;
}

.img-bobi{
    width: 80%;
    height: 80%;
    margin:0px;
    padding-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    order:1;
}

.video-box {
    margin-left: 80px;
    order:3;
}
.video-box p{
    padding-bottom: 10px;
}
.survey-box{
    background-color:#2aad91;
    color: #040d36;
    border-radius: 10px;
    padding: 30px;
    font: helvetica;
    order:2;
    margin-left: 10px;
}
.survey-box h3{
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    padding: 0px;
}
.survey-box p{
    font-size: larger;
    color: #FFFFFF;
    padding-top: 5px;
