*{
    margin: 0;
    padding:0;
    text-decoration:none;
    box-sizing:border-box;

}
.nav-bar{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    background-color:skyblue;
}
body{
    background-color: skyblue; 
    color: #000080;
    font: normal 16px arial, helvetica, serif;
}
.container{   
    display: flex; 
    justify-content: space-between;
    height: 100%;
    margin:20px;
    background-color: rgb(101, 218, 218);
    border-radius: 30px;
} 
h1, h2{
text-align: center;
text-transform: uppercase;
color:#040d36;
}
a{
        text-decoration: none;
        color:#000080;}
a:hover{
        color: red;
    }
a:active{
        color: green;
    }
.box-1{
    color: #040d36;
    border-radius: 10px;
    padding: 10px 10px;
    font: helvetica;
    width:410px;
    height:550px;
    margin-right: 20px;
   justify-content: center;
   margin-left:10px;
}
.box-1 h3{
    color: #040d36;
    padding-top:2px;
    height:40px;
    text-align: center;
    font-weight:bolder;
}
.box-1 p{
    width:280px;
    height:250px;
    padding-left: 20px;}
.box-1 img{
    max-width:410px;
    max-height: 190px;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-left:50px;
}
.survey-box{
    color: #040d36;
    border-radius: 10px;
    padding: 30px;
    font: helvetica; 
    margin-left: 10px;
    margin-right: 80px;
    margin-top: 80px;   
    align-items:center;
    height:300px;
    width:410px;
}
.survey-box h3{
    font-size: larger;
    color:#000080;
    padding: 0px;
}
.survey-box p{
    font-size: larger;
    color: #000080;
    padding-top: 5px;
}
.video-box{
    padding-right:10px;
    margin-right: 20px;
    height:230px;
    margin-top: 120px;
}
.video{
    margin-left: 10px;
    width:400px;
    height:180px;
}
.video-box p{
    padding: 10px;
    text-align: center;
    font-weight: bold;
}


